libs/openFrameworksCompiled/project/osx/build/*
.DS_Store
xcuserdata
apps/examples/Creatures
addons/tricks
addons/msalibs
addons/ofxXmlSettings
addons/ofxCvOpticalFlowLK
apps/Arnold_employees

apps/Arnold-Screen-Saver/
